config.js
node_modules
.wwebjs_auth
.wwebjs_cache
backup_index.js
package-lock.json
commands.txt
.cursorignore
debug.png
tanabe-gpt.log
tanabe_monitor.py
tanabe-gpt.service
start.sh
config_copy.js
personalities.js