# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log

# IDE specific files
.cursor/
.vscode/
.idea/
*.swp
*.swo
.cursorignore
.git
.prettierrc

# OS specific files
.DS_Store
Thumbs.db

# WhatsApp Web.js files
wwebjs/*
.wwebjs_cache
test_results.json

# Service files
tanabe_monitor.py
start.sh
tanabe-monitor.service
setup.sh