# Environment variables
configs/.env

# Node modules
node_modules/

# Logs
*.log

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

test_results.json
.wwebjs_auth
.wwebjs_cache
package-lock.json
commands.txt
.cursorignore
debug.png
tanabe-gpt.log
tanabe_monitor.py
tanabe-gpt.service
start.sh
tanabe-monitor.service
setup.sh
.wwebjs_auth_test
.wwebjs_auth_main
/backup